{% extends "base.html" %}
{% block content %}
    <h1>qué pasa chicos </h1>
    <p> Name: Trixer Surber
        <p></p>
    Age: 17
    <p></p>
    Zodiac sign: Taurus
    <p></p>
    DOB: 18.05.2004
    <p></p>
    Ethnicity: Panamanian/Swiss
    <p></p>
    Interest/hobbies: theater, basketball(sports in general), music, singing, dancing
    <p></p>
    Fun fact: I was in a movie (Paradise Lost) in Panama with Josh Hutcherson (best known for Hunger Games) and Benicio del Toro (best known for Guardians of the Galaxy)
    
{% endblock %}p>